*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Underdog', cursive;
}

main{
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    color: white;
    margin-top: -2vh;
    margin-bottom: 7vh;
}

body {
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white
}

header div {
    display: flex;
    flex-direction: column;
}

header div h1{
    font-family: 'Rock Salt', sans-serif;
    font-size: 8vh;
}

header div h3{
    font-family: 'Satisfy', sans-serif;
    font-size: 5vh;
}

header img {
    width: 10vw;
}

a {
    text-decoration: none;
    color: rgb(109, 6, 6);
    
}

a:hover{
    color: blue;
}

a:active{
    color: green;
}

.menu ul{
    font-family: 'Jolly Lodger', sans-serif;
    font-size: 4vh;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.products-container{
    
    font-size: 2vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5vh;
}

.products-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-carousel{
    width: 20vw;
    height: 70vh
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.quem-somos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
}


.quem-somos-texto{
    width: 40vw;
    font-family: 'Underdog', cursive;
    font-size: 2vh;
}

.quem-somos-img img{
    width: 30vw;
    height: 50vh;
    border-radius: 50%;
    
}

.fotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.fotos img{
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    align-self: center;
    margin-top: 2vh;
    border: 5px solid gray;
}

.arrivals-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.arrivals-container img{
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    border: 5px solid gray;
    align-self: center;
    margin-top: 2vh;
    
}

.img-arrivals{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    align-self: center;
    
}

.visit-page-button{
    font-weight: 700;
    font-size: 3vh;
    border: none;
    
    
}


@media (max-width: 770px) { 
    header{
        flex-direction: column;
    }
 }
